<!doctype html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Məhsul Siyahısı</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .product-img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bütün Məhsullar</h1>
        <form method="GET" action="/products">
            <input type="text" name="query" placeholder="Adla axtar" class="form-control mb-3">
            <button type="submit" class="btn btn-primary">Axtar</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Sona Ermə Tarixi</th>
                    <th>Qalan Günlər</th>
                    <th>Bölüm</th> <!-- Bölüm başlığı -->
                    <th>Şəkil</th>
                    <th>Əməliyyatlar</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.expiration_date }}</td>
                    <td>{{ product.days_left }} gün</td>
                    <td>{{ product.section }}</td> <!-- Bölüm -->
                    <td>
                        <a href="{{ product.photo_link }}" target="_blank">
                            <img src="{{ product.photo_link }}" alt="{{ product.name }}" class="product-img">
                        </a>
                    </td>
                    <td>
                        <form method="POST" action="/delete/{{ product.id }}" style="display:inline;">
                            <button type="submit" onclick="return confirm('Bu əşyanı silmək istədiyinizdən əminsiniz?');" class="btn btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn btn-secondary">Əsas səhifəyə qayıt</a>
    </div>
</body>
</html>
